---
layout: default
permalink: /credentials
---

<!-- <h2 class="cred-title" >About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
</p> -->

<h2 class="cred-title">Skills</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <strong>Languages</strong>:  (Proficient) Python, C++;  (Comfortable) Java, SQL, Javascript, PHP <br/>
    <strong>Tools</strong>: Matplotlib, Plotly, NumPy, Pandas, 
    Scikit-Learn, Keras, PyTorch, Fastai, 
    Deep Learning, NLP, CV, Git, and more.
</p>

<h2 class="cred-title">Experience</h2>
<div class="container timeline">
    
    <div class="timeline-item" date-is='March 2020 - September 2020'>
		<h1>Machine Learning Engineer <br/> Therap BD Ltd.</h1>
		<p>
            Used various machine learning and deep learning techniques to identify data trends and performed 
            predictive analysis including fall detection, server log analysis and OCR using Google Vision API 
            hosted on AWS. Data analysis of Withings sleepmats readings for IDD individuals identifying various
             data trends.
		</p>
	</div>
	
</div>

<h2 class="cred-title">Education</h2>
<div class="container timeline">

    <div class="timeline-item" date-is='January 2016- February 2020'>
		<h1>Shahjalal University of Science and Technology</h1>
		<p>Completed undergraduate thesis on Authorship Attribution on Bangla Literature. 
            Applied deep learning NLP techniques to achieve high performing systems. Publications during the course of my thesis:
            <ul>
                <li>A Continuous Space Neural Language Model for Bengali Language <a href="https://ieeexplore.ieee.org/abstract/document/9038568" >(ICCIT, 2019. IEEE)</a></li>
                <li>A Subword Level Language Model for Bangla Language <a href="https://link.springer.com/chapter/10.1007/978-981-15-3607-6_31" >(IJCCI, 2019. Springer)</a></li>
                <li>Authorship Attribution in Bangla literature using Character-level CNN <a href="https://ieeexplore.ieee.org/abstract/document/9038560" >(ICCIT, 2019. IEEE)</a></li>
                <li>A Transfer Learning approach on Authorship Attribution in Bangla Literature <a href="" >(Journal paper Under Review)</a></li>
            </ul>
		</p>
    </div>

	<div class="timeline-item" date-is='October 2019 - December 2019'>
		<h1>Computer Vision Nanodegree</h1>
		<p>
            This nanodegree was the 2<sup>nd</sup> phase of the Secure and Private AI Facebook 
            Udacity Scholarship. Learned and applied Image Processing, Transfer learning, Kalman filters, 
            Graph SLAM algorithm. Completed projects include Day-Night Detection, Facial keypoint detection, 
            Object Detection, Image Captioning, Sentiment analysis and, Object Localization and Mapping.
		</p>
	</div>
	
	<div class="timeline-item" date-is='August 2019 - September 2019'>
		<h1>Data Scientist with Python</h1>
		<p>
            A bundle of Datacamp courses for python, data cleaning, manipulation 
            and analysis, pandas, data visualization, SQL, statistical thinking and, machine learning.
		</p>
    </div>
    
    <div class="timeline-item" date-is='August 2019'>
		<h1>Practical Deep Learning for Coders</h1>
		<p>
            Jeremy Howard
		</p>
    </div>
    
    <div class="timeline-item" date-is='December 2018 - April 2019'>
		<h1>Machine Learning & Deep Learning</h1>
		<p>
            Machine learning course and Deep learning specialization by Andrew Ng, Coursera.
            Thsese courses cover everything from the basics of machine learning and neural networks from scratch to 
            deep learning techniques in computer vision and NLP with CNN, RNN, GRU and LSTMs, hyperparameter tuning
             and structuring machine learning projects.
		</p>
    </div>
	
</div>