<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<p id="bio" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% endif %}">
  Hello! I am Aisha Khatun, working as a Data Engineer at the Wikimedia Foundation with interests in AI, ML, and everything Data! I work on 
  building and managing ETL pipelines, managing terabytes of free and open source data, helping teams derive value for the foundation and 
  the community around the Wikimedia Movement. I have direct connections to AI, ML, data science and data analytics from my previous work 
  as a researcher and data scientist. Now, I have decided to go a step deeper and work on the fundamental 
  layer of data storage, governance, lineage, and privacy. I did my Masters in Computer Science from the University of Waterloo. 
  As a graduate researcher, I analyzed the capabilities and limitations of Large Language Models (LLM) in answering questions about 
  sensitive topics, instruction following, and prompt variations. 
  I am passionate about AI, solving complex problems by applying ML techniques, and extracting valuable information from data.
  Let's connect and discuss exciting opportunities in the field of AI and computer science! 
  <br>
  <a href="https://www.linkedin.com/in/tanny411/">www.linkedin.com/in/tanny411</a> | 
  <a href="mailto:aysha.kamal7@gmail.com">aysha.kamal7 AT gmail DOT com</a> 
</p>