<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<p id="bio" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% endif %}">
  Hello! I am Aisha Khatun, a computer science graduate student at the University of Waterloo with interests in AI, ML, and everything Data!
  As a graduate researcher, I analyze the capabilities and limitations of Large Language Models (LLM) 
  in answering questions about sensitive topics, instruction following, and prompt variations. 
  I am passionate about AI, solving complex problems by applying ML techniques, and extracting valuable information through data analysis.
  Let's connect and discuss exciting opportunities in the field of AI and computer science! 
  <br>
  <a href="https://www.linkedin.com/in/tanny411/">www.linkedin.com/in/tanny411</a> | 
  <a href="mailto:aysha.kamal7@gmail.com">aysha.kamal7@gmail.com</a> | 
  <a href="mailto:aisha.khatun@uwaterloo.ca">aisha.khatun@uwaterloo.ca</a>
</p>