<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Education</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  See details and more online courses I have done in the <a href="/experience">experience and education page</a>.
</p>
<div class="container timeline text-left">
  <div class="timeline-item" date-is='September 2022- August 2024'>
      <h1>Cheriton School of Computer Science, University of Waterloo</h1>
      <h5>Master of Mathematics in Computer Science and Engineering</h5>
      <h6>CGPA: 3.96/4.00 </h6>
      <p>
            Completed Masters thesis research on the ability of LLMs to respond appropriately and consistently to sensitive topics with prompt variations.
            Advisor: <a href="https://cs.uwaterloo.ca/~browndg/">Daniel G. Brown</a> 
            (<a href="https://uwspace.uwaterloo.ca/items/e01e11a6-e033-4f6a-85c6-849fba74e039">Thesis Report</a>)
      </p>
  </div>

  <div class="timeline-item" date-is='January 2016- February 2020'>
      <h1>Shahjalal University of Science and Technology</h1>
      <h5>B.Sc. in Computer Science and Engineering</h5>
      <h6>CGPA: 3.89/4.00 (2nd in Class)</h6>
      <p>
          Completed undergraduate thesis on Authorship Attribution in Bangla Literature. 
          Applied deep learning NLP techniques to build high performing scalable system to identify authors of text.<br>
          Advisors: <a href="https://www.sust.edu/d/cse/faculty-profile-detail/55">Md Saiful Islam</a>, 
          <a href="https://www.sust.edu/d/cse/faculty-profile-detail/52">Ayesha Tasnim</a> 
          (<a href="assets/papers_reports/CSE_452_2015_11_2015331028_2015331042.pdf">Thesis Report</a>)
      </p>
    </div>

</div>