<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Education</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  See details and online courses I have done in the <a href="/experience">experience and education page</a>.
</p>
<div class="container timeline text-left">

  <div class="timeline-item" date-is='January 2016- February 2020'>
		<h1>Shahjalal University of Science and Technology</h1>
		<h5>B.Sc. in Computer Science and Engineering</h5>
    <h6>CGPA: 3.89/4.00 (2nd in Class)</h6>
		<p>
          Completed undergraduate thesis on Authorship Attribution in Bangla Literature. 
          Applied deep learning NLP techniques to achieve high performing scalable systems.<br>
    </p>
    <p>
          Courses include: Algorithm Design and Analysis, Data Structure, Database System, 
          Object Oriented Programming, Software Engineering and Design Patterns, Technical Writing and Presentation, 
          Artificial Intelligence, Introduction to Data Science, Machine Learning
    </p>
    </div>

</div>