<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Education</h2>

<div class="container timeline text-left">

  <div class="timeline-item" date-is='January 2016- February 2020'>
  <h1>Shahjalal University of Science and Technology</h1>
  <p>Completed undergraduate thesis on Authorship Attribution on Bangla Literature. 
          Applied deep learning NLP techniques to achieve high performing systems. Publications during the course of my thesis:
          <ul>
              <li>A Continuous Space Neural Language Model for Bengali Language <a href="https://ieeexplore.ieee.org/abstract/document/9038568" >(ICCIT, 2019. IEEE)</a></li>
              <li>A Subword Level Language Model for Bangla Language <a href="https://link.springer.com/chapter/10.1007/978-981-15-3607-6_31" >(IJCCI, 2019. Springer)</a></li>
              <li>Authorship Attribution in Bangla literature using Character-level CNN <a href="https://ieeexplore.ieee.org/abstract/document/9038560" >(ICCIT, 2019. IEEE)</a></li>
              <li>A Transfer Learning approach on Authorship Attribution in Bangla Literature <a href="" >(Journal paper Under Review)</a></li>
          </ul>
  </p>
  </div>

</div>