<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Experience</h2>

<div class="container timeline text-left">
    
  <div class="timeline-item" date-is='March 2020 - September 2020'>
    <h1>Machine Learning Engineer <br/> Therap BD Ltd.</h1>
    <p>
            Used various machine learning and deep learning techniques to identify data trends and performed 
            predictive analysis including fall detection, server log analysis and OCR using Google Vision API 
            hosted on AWS. Data analysis of Withings sleepmats readings for IDD individuals identifying various
            data trends.
    </p>
  </div>

</div>