<div class="{{ metadata_styles }}">
<a href="#experience" class="fs-5 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
    Experience
</a>
</div>

<div class="{{ metadata_styles }}">
<a href="#vexperience" class="fs-5 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
    Volunteer Experience
</a>
</div>

<div class="{{ metadata_styles }}">
<a href="#education" class="fs-5 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
    Education
</a>
</div>

<div class="{{ metadata_styles }}">
<a href="#awards" class="fs-5 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
    Honours and Awards
</a>
</div>

<div class="{{ metadata_styles }}">
<a href="#onlinecourses" class="fs-5 {% if site.style == 'dark' %}text-white{% else %}text-black{% endif %}">
    Online Courses
</a>
</div>