<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Experience</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  This lists the major full-time roles I had. See more details, short stints, volunteer experience, and awards in the <a href="/experience">experience and education page</a>.
</p>
<div class="container timeline text-left">

  <div class="timeline-item" date-is='December 2025 - Present'>
    <h1>Data Engineer III <br/> Wikimedia Foundation</h1>
    <p>
      Managing and building ETL pipelines for various analytical use-cases across the foundation, deriving metrics for the community, helping assess the health of the foundation.
      Monitoring system health as part of Ops-Week, contributing to data governance and privacy initiatives. Modernizing the platform for streaming and batch processes. There is always 
      something to improve, there is always new use-cases to build. Fun!
    </p>
  </div>

  <div class="timeline-item" date-is='December 2024 - December 2025'>
    <h1>Software Dev Engineer I <br/> Amazon Web Services</h1>
    <p>
      Worked on highly durable, available, scalable distributed write ahead log system for AWS. Was responsible for end-to-end service development, 
      improvement, deployment, and on-call rotations. Launched features to automatically manage high volume customers which included writing design
      docs, developing durable, low-latency APIs while ensuring smooth customer experience.                  
    </p>
  </div>

  <div class="timeline-item" date-is='April 2021 - August 2022'>
    <h1>Data Analyst <br/> Wikimedia Foundation</h1>
    <p>
      As a Data analyst, I worked with the Search and Analytics team to help scale the Wikidata query service.
      Performed data analysis on Wikidata dumps and combined it with user's SPARQL query analysis to identify the most frequently queried Wikidata subgraphs. 
      This helped inform decisions to split Wikidata to handle the ever-increasing size of the graph (<a href="https://phabricator.wikimedia.org/T337013">Ticket</a>).
      <br>
      Analysis work: <a href="https://wikitech.wikimedia.org/w/index.php?title=User:AKhatun#Subpages">wikitech/User:AKhatun</a>.
    </p>
  </div>

  <div class="timeline-item" date-is='March 2020 - September 2020'>
    <h1>Machine Learning Engineer <br/> Therap BD Ltd.</h1>
    <p>
      Performed data analysis and applied machine learning algorithms on computer vision and time-series data for pattern recognition and prediction generation.
      Used state-of-art face detection models, OCRs, and sensor readings for fall detection. Analysed sleep patterns
      from sleep-mats to identify abnormal activities at night, and analysed server logs to identify ideal downtime for application release.
    </p>
  </div>

</div>