<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Publications</h2>
<div class="d-flex flex-wrap gutter-condensed mb-4 mt-4">
  {% for paper in site.papers %}
    <div class="col-12 mb-3">
      {% include publication-card.html %}
    </div>
  {% endfor %}
  
  <small>By <a rel="nofollow" class="external text" href="https://uwaterloo.ca/brand/sites/ca.brand/files/uploads/files/c011217_uwaterloo_brandguidelines_october2017.pdf">UW Brand Guidelines</a>, 
    <a href="//en.wikipedia.org/wiki/File:University_of_Waterloo_seal.svg" title="Fair use of copyrighted material in the context of University of Waterloo">Fair use</a>, 
    <a href="https://en.wikipedia.org/w/index.php?curid=58639615">Link</a>
  </small>
</div>