<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Technical Skills</h2>
<p id="skills" class="f4 mb-4 text-left mt-2 {% if site.style == 'dark' %}text-white{% endif %}">
    <strong>Languages</strong>: Python, Kotlin, Java, Scala, SQL, SPARQL, Javascript, C++, PHP
    <br/>
    <strong>Frameworks and tools</strong>: NumPy, Pandas, Spark, PySpark, Hadoop, Airflow, Kafka, Docker, Kubernetes
    <br/>
    <strong>ML and Analysis tools</strong>: SciPy, Scikit-Learn, Keras, Pytorch, Fast.ai, Tensorflow2, HuggingFace, Langchain, Tableau, Power BI, Matplotlib, Plotly, Seaborn
    <br/>
    <strong>Database</strong>: MongoDB, PostgreSQL, MySQL, Hive, Presto
    <br/>
    <strong>Version Control and Collaboration</strong>: Git, GitHub, GitLab, Gerrit, Phabricator, Asana
    <br/>
    <strong>Web Technologies</strong>: HTML/CSS, JQuery, NodeJS, React-Redux, Express.js, Flask
</p>