<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Skills</h2>
<p id="skills" class="f4 mb-4 text-left mt-2 {% if site.style == 'dark' %}text-white{% endif %}">
  <p class="text-left f4 mt-1">
    <strong>Languages</strong>:  <i>(Proficient)</i> Python, SQL, SPARQL, Javascript, C++ <i>(Comfortable)</i> Java, PHP, Scala
    <br/>
  </p>
  <p class="text-left f4 mt-1">
    <strong>Frameworks and tools</strong>: NumPy, Pandas, Spark, Matplotlib, Plotly, Seaborn, SciPy, Scikit-Learn, Keras, Pytorch, Fastai, Tensorflow2
    <br/>
  </p>
  <p class="text-left f4 mt-1">
    <strong>Web Technologies</strong>: HTML/CSS, JQuery, NodeJS, React-Redux, Express.js, Flask
  </p>
</p>