<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Technical Skills</h2>
<p id="skills" class="f4 mb-4 text-left mt-2 {% if site.style == 'dark' %}text-white{% endif %}">
    <strong>Languages</strong>:  <i>(Proficient)</i> Python, SQL, SPARQL, Javascript, C++ <i>(Comfortable)</i> Java, PHP, Scala
    <br/>
    <strong>Frameworks and tools</strong>: NumPy, Pandas, Spark, PySpark, Matplotlib, Plotly, Seaborn, SciPy, Scikit-Learn, Keras, Pytorch, Fast.ai, Tensorflow2, HuggingFace, Hadoop, Airflow, Tableau, Power BI
    <br/>
    <strong>Database</strong>: MongoDB, PostgreSQL
    <br/>
    <strong>Version Control and Collaboration</strong>: Git, GitHub, GitLab, Gerrit, Phabricator
    <br/>
    <strong>Web Technologies</strong>: HTML/CSS, JQuery, NodeJS, React-Redux, Express.js, Flask
</p>